# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
/media
/staticfiles

# Virtual environment
venv/
.env
.env.*
!.env.example

# macOS
.DS_Store

# VSCode
.vscode/

# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
*.pyc
*~
*.swp
